.main {
  width: 95vw;
  margin: 0 auto;
  padding: 10px;
}

.word-lists {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 20px 0;
  
}

.lists {
  margin: 20px;
  background-color: white;
  outline: 5px solid tan;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.300), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
}

.lists:hover {
  opacity: 0.7;
  filter: brightness(110%); 
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.600), 0 0 5px rgba(0,0,0,.1);
  transform: translateY(-4px);
}

.listlink {
  text-decoration: none;
  color: black;
}

.ex {
  text-decoration: underline;
  padding: 5px;
}

.list-name-content {
  border-bottom: 1px solid gray;
  font-size: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  padding: 0 5px;
}

.list-text-content {
  padding: 0 5px;
  width: 200px;
  height: 150px;
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
}

.create-list-user {
  display: block;
  color: black;
  width: 210px;
  text-decoration: underline;
  background-color: tan;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;

}

.no-wordlist {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

.index-page {
  text-align: center;
  margin-top: 50px;
}

.no-search {
  text-align: center;
  padding: 50px;
  font-weight: bold;
  font-size: 20px;
}