.main {
  width: 95vw;
  margin: 0 auto;
  padding: 10px;
}

.word-lists {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  padding: 20px 0;
  
}

.lists {
  margin: 20px;
  background-color: #FFFFF0;
  outline: 2px solid gray;
}

.listlink {
  text-decoration: none;
  color: black;
}

.border {
  text-decoration: underline;
  padding: 5px;
}

.list-name-content {
  border-bottom: 1px solid gray;
  font-size: 20px;
  width: 200px;
  height: 40px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  padding: 0 5px;
}

.list-text-content {
  padding: 0 5px;
  width: 200px;
  height: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
}

.create-list-user {
  color: gray;
  text-decoration: underline;
}



.index-page {
  text-align: center;
  margin-top: 50px;
}