.main {
  width: 95vw;
  padding: 20px;
}

.word-lists {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 50px;
  flex-wrap: wrap;
}

.lists {
  margin: 20px;
}

.list-name-content {
  
}

.listlink {
  text-decoration: none;
  color: black;
}

.list-name-content {
  font-size: 20px;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 40px;
  text-align: center;
  overflow: hidden;

}

.list-text-content {
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  height: 200px;
  overflow: hidden;
  word-break: break-all;
}

.new-list-btn {
  padding: 20px;
  border: 2px solid black;
  background-color: white;
  text-decoration: none;
  margin-top: 40px;
  position: fixed;
  bottom: 32px;
  right: 32px;
}

.index-page {
  text-align: center;
  margin-top: 50px;
}