.new-lists {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.listname {
  width: 70vw;
  padding: 10px 0;
  margin: 10px 0;
  background-color: white;
  border: 1px solid black;
}

.listtext {
  width: 70vw;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
}

.error-message {
  font-size: 25px;
  color: red;
}

.release-select {
  width: 100px;
  height: 50px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid black;
}