.list-show {
  padding: 10px;
  text-align: center;
}

.list-show h1 {
  font-weight: bold;
  font-size: 20px;
}

.show-listname {
  border: 2px solid black;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  font-size: large;
  overflow: scroll;
  word-break: break-all;
  font-size: 40px;
  text-align: center;
}

.show-listtext {
  
}

.listbtn {
  display: inline-block;
  padding: 20px;
  margin: 50px 0;
  border: 2px solid black;
  text-decoration: none;
}

.word-show h1{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.word-list {
  display: flex;
  justify-content: center;
}

.word-name {
  text-align: center;
  width: 15%;
  height: 60px;
  border: 2px solid black;
  padding: 10px;
  overflow: scroll;
  word-break: break-all;
}

.word-mean {
  font-size: 13px;
  width: 40%;
  height: 60px;
  border: 2px solid black;
  padding: 10px;
  word-break: break-all;
  overflow: scroll;
}
