.showwrapper {
  width: 60%;
  margin: 0 auto;
}

.list-tr {
  outline: 3px solid black;
  background-color: white;
}

.show-ex {
  text-decoration: underline;
  background-color: silver;
  font-weight: bold;
  font-size: 20px;
  padding-left: 30px;
  float: left;
  width: 150px;
  height: 80px;
  line-height: 80px;
  outline: 1px solid black;
}

.show-listname {
  line-height: 1em;
  padding-top: 20px;
  height: 60px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  font-size: 40px;
  text-align: center;
  border-bottom: 1px solid black;
}


.show-listtext {
  height: 80px;
  padding: 0 10px;
  font-size: 20px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  border-bottom: 1px solid black;
}

.show-nickname {
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
  padding-left: 30px;
  float: left;
  width: 150px;
  height: 30x;
  line-height: 30px;
  outline: 1px solid black;
  background-color: silver;
}

.show-list-nickname {
  text-decoration: none;
  padding: 0 10px;
  height: 30px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  line-height: 30px;
  border-bottom: 1px solid black;
}

.show-list-nickname a{
  text-decoration: none;
  color: black;
}

.ex-user {
  height: 50px;
  line-height: 50px;
}

.show-authority {
  height: 50px;
  padding: 0 10px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  border-bottom: 1px solid black;
}

.show-btn {
  text-align: center;
}

.authoritybtn {
  display: inline-block;
  padding: 20px;
  margin-top: 20px;
  border: 2px solid black;
  text-decoration: none;
  background-color: #FF9900;
  color: white;
  font-weight: bold;

}

.editbtn {
  display: inline-block;
  padding: 20px;
  margin: 50px 0;
  border: 2px solid black;
  text-decoration: none;
  background-color: rgb(56, 133, 40);
  color: white;
  font-weight: bold;
}

.destroybtn {
  display: inline-block;
  padding: 20px;
  margin: 50px 0;
  border: 2px solid black;
  text-decoration: none;
  background-color: rgb(22, 21, 21);
  color: white;
  font-weight: bold;
}

.wordmemory {
  margin: 20px 0;
  display: flex;
  width: 100%;
}

.memory {
  display: inline;
  text-align: center;
  font-size: 40px;
  margin: 10px;
  width: 50%;
  height: 140px;
  background-color: #d70035;
  border: 6px solid black;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.memory1 {
  line-height: 140px;
}

.memory2 {
  line-height: 70px;
}


.no-words {
  font-size: 50px;
  padding: 20px 100px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.word-regi {
  text-align: center;
  height: 70px;
}

.far {
  position: relative;
  font-size: 50px;
  width: 100px;
  height: 100px;
  color: rgb(214, 214, 214);
  color: black;
}



.regi {
  width: 50vw;
  line-height: 70px;
  padding: 20px 50px;
  text-decoration: none;
  border: 2px solid black;
  background-color: rgb(37, 164, 202);
  color: white;
  font-weight: bold;
}

.word-show {
  width: 100%;
  outline: 3px solid black;
  background-color: white;
  margin-top: 20px;
}

.word-show h1{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  background-color: #7fffff;
  color: black;
}

.word-list {
  position: relative;
  display: flex;
  outline: 1px solid black;
  background-color: white;
  width: 100%;
}

.word-text {
  display: flex;
  border-top: 5px double black;
  width: 100%;
  background-color: #e0ffff;
}

.wname{
  width: 40%;
  border-right: 1px solid black;
}

.wmean{
  width: 60%;
  
}

.word-list-name {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1em;
  width: 40%;
  height: 60px;
  font-size: 30px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  border-right: 1px solid black;
  font-weight: bold;
}

.word-list-mean {
  display: flex;
  align-items: center;
  line-height: 1em;
  font-size: 20px;
  width: 60%;
  height: 60px;
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
}

.word-edit-btn {
  position: absolute;
  left: -80px;
  top: 5px;
  border: 2px solid black;
  text-decoration: none;
  background-color: rgb(56, 133, 40);
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.word-delete-btn {
  position: absolute;
  right: -80px;
  top: 5px;
  border: 2px solid black;
  text-decoration: none;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
}
