.list-show {
  padding: 10px;
  text-align: center;
}

.list-show h1 {
  font-weight: bold;
  font-size: 20px;
}

.show-listname {
  border: 2px solid black;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  font-size: large;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
  font-size: 40px;
  text-align: center;
}

.show-listtext {
  
  
}

.editbtn {
  display: inline-block;
  padding: 20px;
  margin: 50px 0;
  border: 2px solid black;
  text-decoration: none;
  background-color: rgb(56, 133, 40);
  color: white;
  font-weight: bold;
}

.destroybtn {
  display: inline-block;
  padding: 20px;
  margin: 50px 0;
  border: 2px solid black;
  text-decoration: none;
  background-color: rgb(22, 21, 21);
  color: white;
  font-weight: bold;
}

.memory {
  width: 50vw;
  font-size: 50px;
  padding: 20px 100px;
  border: 6px double black;
  color: red;
  text-decoration: none;
  font-weight: bold;
}

.word-regi {
  margin-top: 100px;
  text-align: center;
}

.regi {
  width: 50vw;
  padding: 20px 50px;
  text-decoration: none;
  border: 2px solid black;
  background-color: rgb(37, 164, 202);
  color: white;
  font-weight: bold;
}

.word-show {
  margin: 20px;
}

.word-show h1{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.word-list {
  display: flex;
  justify-content: center;
}

.word-name {
  text-align: center;
  width: 15%;
  height: 60px;
  border: 2px solid black;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
  word-break: break-all;
}

.word-mean {
  font-size: 13px;
  width: 40%;
  height: 60px;
  border: 2px solid black;
  padding: 10px;
  word-break: break-all;
  overflow: scroll;
  overflow-x: hidden;
}
