<div class = "main">
  <div class = "word-lists">
  <% if Wordlist.where("release_id = 1").length != 0 %>
<%= render "main"%>
    <% else  %>
    <p class = "no-wordlist">リストを作成しよう！</p>
    <% end %>
  </div>
  <div class = "index-page">
  <%= paginate @wordlists%>
  </div>
</div>