<%= render "form-authority"%>
<div class = "authority-edit">
  <%= link_to "ユーザーコードの削除", wordlist_authority_path(@wordlist.id, @authority.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "authority-delete"%>
</div>